.custom-input {
  width: 275px;
  text-transform: uppercase;
  padding-left: 5px;
  vertical-align: middle;

  &::placeholder {
    text-transform: none;
  }

  &:focus {
    outline: 1px solid #5f5c5c;
  }

  &.has-error {
    outline: 3px solid #ffa7a7;
  }
}
