.command-list {
  max-width: 469px;

  .command-list-header {
    background-color: #343a40;
    color: white;
    border-bottom: 1px solid #00000020;
  }

  .command-row {
    text-transform: uppercase;
  }
}
