.command-list {
  width: 480px;

  .command-list-header {
    padding: .5rem 1rem;
    background-color: #343a40;
    color: white;
    border-bottom: 1px solid #00000020;
  }

  .command-row {
    text-transform: uppercase;
  }
}
