.command-input {
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

  .command-input-title {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }

  .command-input-body {
    flex: 1 1 auto;

    .input {
      width: 250px;
    }

    .submit-button {
      width: 100px;
      height: 30px;
      background-color: #bbb8b8;
      border-radius: 8px;
      outline: none;

      &:hover {
        background-color: #afacac;
      }
      &:active {
        background-color: #8e8b8b;
      }
    }
  }

}
