.command-wrapper {
  max-width: 640px;
  border: 1px solid #00000020;
  border-radius: .25rem;

  .command-input-title {
    background-color: #343a40;
    color: white;
    border-bottom: 1px solid #00000020;
  }

  .command-input {
    display: inline-block;

    & button:focus {
      box-shadow: none;
    }
  }
}
