.command-input-wrapper {
  width: 480px;
  border: 1px solid #00000020;
  border-radius: .25rem;

  .command-input-title {
    padding: .75rem 1.25rem;
    background-color: #343a40;
    color: white;
    border-bottom: 1px solid #00000020;
  }
}
